<!DOCTYPE html>
<html>
<head>
    <title> {{ config.TITLE }} </title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="info">
        <p>Device do not support accelerometr </p>
    </div>
    <div class="container">
        <div class="area"></div>
        <div class="pointer"></div>
        <div class="start_btn">
            <a class="btn_info" href="#">start</a>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>
